.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 100vh;
}
  
.each-slide-effect span {
    background: rgba(15, 34, 61, 0.6);
    width: 100%;
    height: 100%;
}

/* Contenedor para que se acomoden los divs de forma horizontal */
.slideshow-grid {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Contenedor para poner la frase encima de las imagenes del slideshow, tambien se usó para el logo */
.slideshow-container {
    padding-left: 4.167vw;
    color: white;
    text-align: left;
    font-family: "Cerebri-Sans-Book", sans-serif;
    font-weight: 500;
    font-size: 4.167vw;
    line-height: 5.069vw;
    align-items: center;
    float: left;
}

/* Contenedor para juntar lo que conforma el logo, la imagen y el nombre de CxC */
.slideshow-grid-logo {
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    line-height: 2.083vw;
    margin-top: 1.344vh;
    margin-left: 9.028vw;
}

/* Clase para definir el tamaño de la imagen del logo */
.slideshow-logo {
    height: 110px;
    width: auto; /*189px*/
}

/* Formato para las palabras del nombre de CxC */
.slideshow-container span{
    background: rgba(255, 255, 255, 0); /* transparente */
    font-family: 'Ananias', sans-serif;
    font-size: 25px;
    margin-right: 0.903vw;
}

/* Formato para el boton de las imagenes, se usa en BotonInicio.js */
.btn-slideshow {
    width: 19.306vw;
    height: 4.306vw;
    border: 0.208vw solid rgb(0, 0, 0);
    border-radius: 1.597vw;
    margin: 0px;
    padding: 0px 0px 0px 0px;

    display:inline-block;
    font-family: "Cerebri-Sans-Book", sans-serif;
    font-size: 1.944vw;
    text-align: center;
    line-height: 2.083vw;
    color: rgb(0, 0, 0);

    cursor: pointer;
    align-items: center;
    transition: 0.25s;
}

/* hacer el hover */
.btn-slideshow:hover {
    transform: translateY(-0.15em);
}

/* Formatos para poner el color del boton desde Galeria.js, asi cada boton tiene color diferente */
.btn--yellow {
    background-color: rgb(239, 200, 100);
}

.btn--green {
    background-color: rgb(148, 195, 90);
}

.btn--red {
    background-color: rgb(237, 140, 101);
}

.btn--orange {
    background-color: rgb(206, 153, 90);
}

/* Formatos para poner color al texto, se usa en el logo */
.text-yellow {
    color: rgb(239, 200, 100);
}

.text-green {
    color: rgb(148, 195, 90);
}

.text-red {
    color: rgb(237, 140, 101);
}

.text-orange {
    color: rgb(206, 153, 90);
}

.text-main {
    width: 85vw;
    margin-left: 5vw;
    font-family: "Cerebri-Sans-Book", sans-serif;
    font-weight: 500;
    line-height: 5.278vw; /*76*/
    font-size: 4.167vw; /*60*/
    text-align: left;
}

.text-desc-bold {
    font-weight: 500;
    color: #E4C76A;
    margin-left: 1%;
    font-weight: 800;
    /*margin-right: 10px;*/
}

.text-desc-bold-red {
    font-weight: 500;
    color: #D68B67;
    margin-left: 1%;
    font-weight: 800;
    /*margin-right: 10px;*/
}

.linea {
    margin: 80px 0;
    height: 3px;
    background: repeating-linear-gradient(
      to right,
      transparent,
      transparent 30px,
      black 30px,
      black 60px
    );
}

/* Contenedor para que se acomoden los divs de forma horizontal */
.description-grid {
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    width: 50vw;
}

.description-parragraph {
    font-family: "Cerebri-Sans-Book", sans-serif;
    align-items: center;

    width: 43vw;
    margin-left: 2vw;
    font-family: "Cerebri-Sans-Book", sans-serif;
    font-weight: 500;
    line-height: 2.083vw;
    font-size: 1.597vw;
    text-align: center;
}

.circle{
    margin-left: 47%;
    margin-bottom: 3%;
    margin-top: 6%;
    
    width: 3.333vw;
    height: 3.333vw;
    /*position: absolute;*/
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgb(239, 200, 100);
}

.imagen-descp{
    border-radius: 40px 0px 0px 40px;
    width: 42.569vw;
    height: 67.94vh;
    margin-left: 1.3vw;
    margin-top: 6%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.imagen-lapiz{
    width: 4.256vw;
    height: auto;
    margin-top: -5%;
    margin-right: 80%;
    /*display:inline;*/
}

/*.description-bottom-grid {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}*/

.description-bottom-grid:after {
    content: "";
    display: table;
    clear: both;
}

.description-bottom {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    float: left;
    font-family: "Cerebri-Sans-Book", sans-serif;
}

.texto-impacto {
    /*font-family: "Cerebri-Sans-Book", sans-serif;*/
    font-weight: 500;
    line-height: 2.569vw;
    font-size: 2.083vw;
    text-align: center;
}

.texto-impacto-bold {
    font-weight: 800;
    line-height: 5.694vw;
    font-size: 4.861vw;
    text-align: center;
}

.imagen-libro{
    width: 9.028vw;
    height: 23.5vh;
    float: left;
    margin-left:5vw;
}
