/* Rectangle 132 */

p {
    font-family: "Cerebri-Sans-Book", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #0F223C;
}

b {
    color: #D68B67
}

b.b2 {
    color: #BF985E
}

b.b3 {
    color: #A2C261
}

.nacimiento-title {
    width: 1189.33px;
    height: 212px;
}

.nacimiento-contenido1 {
    box-sizing: border-box;

    width: 800px;
    height: 192px;
    left: 218.67px;
    top: 1541.33px;

    margin: auto;
    text-align: center;
    
}

.nacimiento-contenido2 {
    width: 800px;
    height: 257.33px;

    padding-right: 225px;
    text-align: left;
}

.nacimiento-contenido3 {
    width: 800px;
    height: 257.33px;

    padding-left:225px;
    margin-left:40%;
    text-align: right;
}

.logros-title {
    box-sizing: border-box;

    position: absolute;
    width: 370.67px;
    height: 130.67px;
    left: 764px;
    top: 3298.67px;

    background: #BF985E;
    border: 4px solid #0F223C;
    border-radius: 54.6667px;
}

.logros-description {
    align-items: center;
}