.texto-QuienesSomos {
    font-size: 3.402vw;
    text-align: center;
    color: #0F223C;
}

.intro-QuienesSomos {
    margin-left: 6.18vw;
    margin-right: 6.18vw;
}

.Valores {
    padding: 19px 1.8vw 19px 1.8vw;
}

.Iconos-y-Valores {
    position: relative;
}