.botones-Header {
    font-size: 2.083vw;
    text-align: center;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-right: 2.5vw;
}